# Salesforce Connected App credentials
SF_CLIENT_ID=your_client_id_here
SF_CLIENT_SECRET=your_client_secret_here
SF_REDIRECT_URI=http://localhost:1717/oauth/callback
SF_LOGIN_URL=https://login.salesforce.com
SF_API_VERSION=v59.0
OAUTH_CALLBACK_PORT=1717
